---
import Layout from "../../layouts/Layout.astro";
import CompactLayout from "../../layouts/CompactLayout.astro";

// This next line is used to set the page title on the site navigation and in the browser tab.
export const pageTitle = "Assignment 02";
---

<Layout compact title={pageTitle}>
  <h1>Assignment 02</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum labore
    maxime quae dolore beatae doloribus harum saepe facere reiciendis
    exercitationem, ullam officiis quos error officia molestiae quas libero modi
    vero?
  </p>
</Layout>
