---
import Layout from '../../layouts/Layout.astro';
import CatCard from '@components/CatCard.astro';

// load data from api
const data = await fetch("https://api.thecatapi.com/v1/breeds");
const cats = await data.json();
const selectedCats = cats.slice(1,25);
---

<Layout title="Astro Stater">
<h1>Cats</h1>

<div class="cat-grid">
{selectedCats.map(function (catData) {
    return <CatCard data={catData} />;
})}


<code>{JSON.stringify(cats)}</code>

</div>
    
</Layout>



<style> 
.cat-grid{
    display:grid;
    gap:1rem;
    padding:2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


</style>