---
import Layout from "../../layouts/Layout.astro";
export const pageTitle = "JavaScript Objects";
import ProfileCard from "@components/ProfileCard.astro";
import ProfileCard2 from "@components/ProfileCard2.astro";

const nicky = {
    name: "Nicky",
    hometown: "Saratoga Springs",
    age: 21,
};

const person2 = {
    name: "Christian",
    accomplishments: "good at shaking ass",
    age: 22,
};


const animals = [
    'dog',
    'cat',
    'horse',
    'cow',
    'squirrel',
    'bear',
];
---
<Layout></Layout>


<ProfileCard>
    person={nicky}
</ProfileCard>

<ProfileCard2>
    person={person2}
</ProfileCard2>

<ul>
    {animals.map((animal) => (
        <li>{animal}</li>
    ))}

</ul>