---
import Layout from "/workspaces/thomasn-dw2/src/layouts/Layout.astro";
export const pageTitle = "Projec Proposal";
import {Content as SampleContent} from "/workspaces/thomasn-dw2/src/components/markdown/frisbee-markdown.md"
---



<Layout>
  <h1> Project Proposal</h1>
    <SampleContent/>
</Layout>
