---
import Layout from "../../layouts/Layout.astro";
import Button from "@components/Button.astro";
import Frame from "@components/Frame.astro";
export const pageTitle = "Proposal 1";
---

<Layout title="Home">
  <h1>Welcome!</h1>
  <Button href="assignment,assignment 01, home"/>

  <Frame>
     <Frame title="My awesome frame"/>
  <p>This is your Design for the Web 2 starter site.</p>
  <p>
    Feel free to start editing this page in <code>src/pages/index.astro</code>
  </p>
  </Frame>
</Layout>

<button class ="myButton">hello</button>
<div class="text-box">text Box</div>

<script>

  const myButton = document.querySelector(".myButton");

  const myFunction = function () {
    myButton?.classList.toggle("blue");
  
  };
myButton?.addEventListener("click", myFunction);
</script>


<style>
.myButton {
  background-color: rgb(0, 255, 110);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.myButton.blue{
  background-color: blue;
}
.text-box {
  width: 200px;
  height: 100px;
  border: 2px solid black;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>