---
import Layout from "../layouts/Layout.astro";
import Button from "@components/Button.astro";
import Frame from "@components/Frame.astro";
---

<Layout title="Home">
  <h1>Welcome!</h1>
  <Button href="assignment,assignment 01, home"/>

  <Frame>
     <Frame title="My awesome frame"/>
  <p>This is your Design for the Web 2 starter site.</p>
  <p>
    Feel free to start editing this page in <code>src/pages/index.astro</code>
  </p>
  </Frame>
</Layout>


