---
import Layout from "/workspaces/thomasn-dw2/src/layouts/Layout.astro";
import Button from "@components/Button.astro";
import Frame from "@components/Frame.astro";
import ButtonProposal from "/workspaces/thomasn-dw2/src/components/site/ButtonProposal.astro";
import Accordian from "/workspaces/thomasn-dw2/src/components/Accordian.astro";
import {Content as SampleContent} from "../components/markdown/sample-content.md"

---

<Layout title="Home">
  <h1>Welcome!</h1>
  <Button href="assignment,assignment 01, home"/>
<Accordian title="Sample Accordian">
<p>Content in accordian</p>
<p> More content</p>
</Accordian>
  
<Layout title="Home">
  <h1>Site Proposal</h1>
  <ButtonProposal href="assignment,assignment 01, home"/>

  <Frame>
     <Frame title="My awesome frame"/>
  <p>My Site Proposal</p>
  <p>
    Site for frisbee team, has a calander with important tournament dates, a roster, contact information for Captains and Coaches.
    What we learned at practice last week/ what we are foucusing on this week. 
  </p>
  </Frame>
  <SampleContent/>
</Layout>


