---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <h1>Welcome!</h1>
  <p>This is your Design for the Web 2 starter site.</p>
  <p>
    Feel free to start editing this page in <code>src/pages/index.astro</code>
  </p>
</Layout>
