---
const {href}=Astro.props;
---

<a class="btn-home" href="/">Go Home</a>

<style>
    .btn-home{
        display:inline-block;
        text-decoration:none;
        padding:1rem;
        background-color: transparent;
        border: 1.5px solid green;
        border-radius: 3px;
        color: green
    }
    .btn-home:hover{
        background-color: green;
        color:white
    }

</style>