---
const {href}=Astro.props;
---

<a class="btn-home" href="/">Get Involved</a>

<style>
    .btn-home{
        display:inline-block;
        text-decoration:none;
        padding:.5rem;
        background-color: transparent;
        border: 1.5px solid rgb(199, 106, 0);
        border-radius: 3px;
        color: rgb(199, 106, 0);
    }
    .btn-home:hover{
        background-color: rgb(199, 106, 0);
        color:white
    }

</style>