---
const {href}=Astro.props;
---

<section class="date-one">

    <div class="date-num">
        <h2>
             08
        </h2>
        <p>Oct 8th</p>
    </div>
     <div class="date-text">
         Time: 9am-2pm  Location: <a href="https://maps.app.goo.gl/S8edyHrXXb2dyyuc9"Bard Campus</a>
    </div>
</section>
<style>
    .date-one{
        
        text-decoration:none;
        padding:.5rem;

        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       
        
    }

    .date-text{
                background-color: transparent;
        border: 1.5px solid rgb(199, 106, 0);
        border-radius: 3px;
        color: rgb(199, 106, 0);
        padding:2rem;
    }
    .date-num{
        background-color: rgb(199, 106, 0);
        color:white;
        padding: 1rem;
        border-radius: 5px;
        display:flex;
        flex-direction: column;
        align-items: center; 
    }
    h2{
        font-size:3.5rem;
        margin:.5rem;
    }
    p {
        
    }

</style>