---
const {title} =Astro.props;

---

<div class="frame">
    <h3>{title}</h3>
    <slot />
</div>

<style>
    .frame{
        border:2px;
        padding:.5rem;
        max-width:400px;
        margin-top:-.5rem;
        margin-bottom:-.5rem;

    }
    h3{
        margin:0;
        background-color:black;
        color:white;
        padding:.35rem;
        display:inline-block;
        position:relative;
        border-bottom-right-radius: .5rem;
        left:-.5rem;
        top:-.5rem;
        margin-bottom:-.5rem;

    }
</style>