---
const {person} = Astro.props;


---

<article>
    <h2>Nicky Thomas</h2>
    <p> </p>
    <a href="https://wallpapers.com/images/hd/cute-funny-cat-pictures-8buws2lhzecgkeyw.jpg">Website Title</a>
</article>

<style>


    article{
        border: 2px solid black;
        padding: 1rem;
        margin: 1rem;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
        max-width: 300px;
    }
</style>