---
const {person} = Astro.props;


---

<article>
    <h2>Christian S</h2>
    <p>Coca Cola Helllooo </p>
    <a href="https://i.pinimg.com/736x/59/f9/81/59f98196569d09c5618743ec77676582.jpg">Website Title</a>
</article>

<style>


    article{
        border: 2px solid black;
        padding: 1rem;
        margin: 1rem;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
        max-width: 300px;
    }
</style>