---
const { title } = Astro.props;
import SideNav from "../components/site/SideNav.astro";
import CSSReset from "../components/site/CSSReset.astro";
import Theme from "../components/Theme.astro";
import NavList from "../components/site/NavList.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/dw2.png" />
    <title>{title} | Design for the Web 2</title>
    <CSSReset />
    <Theme />
  </head><body>
    <header>
      <details class="compact-nav">
        <summary>Menu</summary>
        <div class="compact-nav-items">
          <NavList />
        </div>
      </details>
    </header>

    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  .compact-nav {
    position: fixed;
    top: 2rem;
    right: 0;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--color-bg);
    border: 1px solid var(--color-primary);
    border-right: none;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
  }
  details > summary {
    list-style: none;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  details > summary::marker,
  details > summary::-webkit-details-marker {
    display: none;
  }
  .compact-nav-items {
    margin-top: 1rem;
  }
</style>
