---
const { title } = Astro.props;
import SideNav from "../components/site/SideNav.astro";
import CSSReset from "../components/site/CSSReset.astro";
import Theme from "../components/Theme.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/dw2.png" />
    <title>{title} | Design for the Web 2</title>
    <CSSReset />
    <Theme />
  </head><body>
    <header>
      <SideNav />
    </header>

    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  main {
  }
  @media screen and (min-width: 768px) {
    main {
      padding-left: var(--size-sidenav-width);
    }
  }
</style>
