---
/* This component sets up the side-by-side layout for the navigation panel and main content */
import NavList from "./NavList.astro";
---

<div class="nav-layout-wrapper">
  <div class="nav-sidebar">
    <NavList />
  </div>
  <main>
    <slot />
  </main>
</div>

<style>
  .nav-layout-wrapper {
    padding-left: 400px;
  }
  .nav-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    overflow-y: auto;
  }
  main {  }
</style>
